$body-bg: #440b5a;
$body-bg-2: #360f74;
$header-bg: #adbdcd;
$header-bg-2: #9ba7c2;
$header-desc-bg: #201841;
$header-color: #4e2050;
$main-bg: #adbdcd;
$color: #1e1145;
$nav-bg: #1c1f54;
$nav-color: #e6ecea;
$nav-border: rgba(#8c92b6, 0.2);
$footer-color: rgba(#6f5893, 0.6);
$link-color: #602d75;
$link-hover-color: #4e2050;

body {
  color: $color;
  background: linear-gradient(0deg, $body-bg 0%, $body-bg-2 100%);
  padding: 20px;
  font-family: sans-serif;
  margin: 0;
}

header {
  text-align: center;
  width: fit-content;
  margin: auto;

  h1 {
    background: linear-gradient(180deg, $header-bg 0%, $header-bg-2 100%);
    font-size: 400%;
    margin: 0 0 10px 0;
    color: $header-color;
    padding: 0 50px;
    border-radius: 5px;
  }

  h2 {
    background-color: $header-desc-bg;
    font-size: 200%;
    font-weight: 500;
    margin: 0 auto;
    padding: 0 5%;
    width: 50%;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  a {
    text-decoration: none;
    background-color: $nav-bg;
    color: $nav-color;
    padding: 10px;
    margin: 2px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: $nav-border 2px solid;
    border-radius: 5px;
  }
}

.divider {
  padding: 2px;
  background-color: #1e1145;
  margin: 50px 0;
}

#navigation {
  background-color: $main-bg;
  font-style: italic;
  max-width: fit-content;
  padding: 10px 25px;
  border-radius: 5px;
  .nav-info {
    width: 80%;
  }
  h1 {
    max-width: fit-content;
    margin:0;
  }
  a {
    text-decoration: none;
    color: $link-color;
  }
  a:hover {
    color: $link-hover-color;
  }

  .nav-info {
    padding: 5px 0;
    margin-bottom: 2px;
  }
}

footer {
  font-style: italic;
  font-size: smaller;
  color: $footer-color;
  margin-top: 50px;
}

// #info-abt-me {
  
// }

.portfolio-img {
   width: 31.3%;
   height: auto;
  object-fit: cover;
  padding: 3px;
  border: 7px solid rgba(#6f5893, 0);
  box-sizing:border-box;
  background-image: linear-gradient(131deg, $nav-color 0%, $profile-bg 100%);
  background-clip: padding-box;
};

#portfolio {
  display: flex;
  flex-wrap: wrap;
}

// TESTING

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 0 30%; /* adjust width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.column img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* set aspect ratio to 1:1 for square images */
}