$body-bg: #440b5a;
$body-bg-2: #360f74;
$header-bg: #adbdcd;
$header-bg-2: #9ba7c2;
$header-desc-bg: #201841;
$header-color: #4e2050;
$main-bg: #adbdcd;
$color: #1e1145;
$nav-bg: #1c1f54;
$nav-color: #e6ecea;
$nav-border: rgba(#8c92b6, 0.2);
$contact-bg: #7b74a9;
$contact-color: #1e0303;
$contact-explanation-bg: meow;
$footer-color: rgba(#6f5893, 0.6);
$profile-bg: #8c92b6;
$link-color: #602d75;
$link-hover-color: #4e2050;

body {
  color: $color;
  background: linear-gradient(0deg, $body-bg 0%, $body-bg-2 100%);
  padding: 20px;
  font-family: sans-serif;
  margin: 0;
}

header {
  text-align: center;
  width: fit-content;
  margin: auto;

  h1 {
    background: linear-gradient(180deg, $header-bg 0%, $header-bg-2 100%);
    font-size: 400%;
    margin: 0 0 10px 0;
    color: $header-color;
    padding: 0 50px;
    border-radius: 5px;
  }

  h2 {
    background-color: $header-desc-bg;
    font-size: 200%;
    font-weight: 500;
    margin: 0 auto;
    padding: 0 5%;
    width: 50%;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  a {
    text-decoration: none;
    background-color: $nav-bg;
    color: $nav-color;
    padding: 10px;
    margin: 2px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: $nav-border 2px solid;
    border-radius: 5px;
  }
}

.divider {
  padding: 2px;
  background-color: #1e1145;
  margin: 50px 0;
}

#contact-list {
  list-style: none;
  background-color: $contact-bg;
  color: $contact-color;
  width: fit-content;
  padding: 20px 40px;
  text-align: center;
  margin: 2.5% auto;
  border-radius: 5px;
  font-style: italic;
  a {
    color: $contact-color;
    text-decoration: underline 1px $contact-color;
  }
}

#explanation {
  list-style: none;
  background-color: $contact-bg;
  color: $contact-color;
  width: 50%;
  padding: 20px 40px;
  margin: 0 auto;
  border-radius: 5px;
  li {
    border-bottom: $body-bg-2 1px solid;
    padding:5px 0;
  }
  li:last-child {
    border-bottom: none;
  }
}

#navigation {
  background-color: $main-bg;
  font-style: italic;
  max-width: fit-content;
  padding: 10px 25px;
  border-radius: 5px;
  .nav-info {
    width: 80%;
  }
  h1 {
    max-width: fit-content;
    margin:0;
  }
  a {
    text-decoration: none;
    color: $link-color;
  }
  a:hover {
    color: $link-hover-color;
  }

  .nav-info {
    padding: 5px 0;
    margin-bottom: 2px;
  }
}

footer {
  font-style: italic;
  font-size: smaller;
  color: $footer-color;
  margin-top: 50px;
}

.group-wrapper {
  background-color: $main-bg;
  padding: 1px 20px;

  h1 {
    text-align: center;
    font-style: italic;
  }

  h4 {
    font-weight: 500;
    width: 85%;
    margin: auto;
    text-align: center;
  }
}

.profile-wrapper {
  background-color: $profile-bg;
  position: relative;
  width: 65%;
  margin: auto;

  ul {
    padding: 0;
    list-style: none;

    li {
      width: 80%;
      padding: 3px;
    }
  }

  .headshot {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 5px;
    right: 0px;
    border-radius: 100%;
    border: 5px white solid;
  }
}

// #info-abt-me {
  
// }

.portfolio-img {
  width: 33.3%;
  height: 33.3;
};

#portfolio {
  display: flex;
  flex-wrap: wrap;
}